{{#liquid-if loaded class=loadOrderClass}}

  <h5>{{label}}</h5>

  <h2>
    {{#if isNumeric}}
      {{gloss-shard-value
        value=value
        }}
    {{else}}
      {{liquid-bind value class="ui-fade-0"}}
    {{/if}}
  </h2>

{{/liquid-if}}
