<div class="Gloss-notification--subject">
  <span class="Gloss-notification--system">
    {{model.systemName}}
  </span>

  {{model.subject}}
</div>

<div class="Gloss-notification--message">
  <span class="Gloss-notification--time">
    {{from-now model.time}}
  </span>

  {{model.message}}
</div>
