@keyframes expand {
  0% {
    left: 50%;
    right: 50%;
  }

  100% {
    left: 0;
    right: 0;
  }
}

@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}

@keyframes glow {
  0% { opacity: 0.1; }
  50% { opacity: 0.05; }
  100% { opacity: 0.1; }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes typing-sub {
  0% { width: 0 }
  50% { width: 0 }
  100% { width: 100% }
}

@keyframes fade-sub {
  0% { opacity: 0 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $primary; }
}

@keyframes blink-caret-secondary {
  from, to { border-color: transparent }
  50% { border-color: $secondary; }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
