// .liquid-container {
//   z-index: 1;
// }
$body-bg-color:#001 !default;
$teal: $secondary;
$inverted-label: $primary;
$icons-font-path: '/assets/fonts/' !default;

$body-font-color: $secondary;
$font-color: $secondary;
$a-font-color: $primary;

$font-family: 'Titillium Web', 'EVE Sans', sans-serif;

a:hover {
  color: white !important;
}

.ui {
  background: transparent !important;

  &.cards {
    > .title {
      width: 100%;
      margin: 1.5rem 0.6rem 0.5rem;
    }

    > .card {
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
      margin-top: 0.25rem !important;
      background: transparent !important;
      box-shadow: none !important;
      overflow: hidden;

      &:hover {
        transform: none !important;
        text-rendering: optimizeLegibility;

        > .background {
          transform: scale3d(1.05, 1.05, 1.05) !important;
          opacity: 0.3;
        }
      }

      > .background {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        opacity: 0.15;
        background-size: 140% !important;
        background-position-x: 0;
        background-repeat: no-repeat;
        transition: opacity 175ms linear, transform 175ms linear;
      }

      > .image {
        padding-top: 1rem !important;
        max-width: 128px;
        margin: 0 auto;
      }

      > .content {
        > .header {
          color: $primary !important;
          font-weight: 400 !important;
          margin-bottom: 0.5rem;
        }

        > .meta {
          color: $secondary !important;
          margin-bottom: 1rem;
        }

        > .description {
          color: $secondary !important;
        }
      }
    }
  }

  &.grid {
    .row.no-gutter > .column {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &.inverted.table {
    thead th {
      text-transform: uppercase !important;
      font-weight: 400 !important;
      color: $secondary !important;
    }

    tr td {
      border-color: $secondary !important;

      a:hover {
        color: white;
      }
    }
  }

  &.loader {
    &:before {
      border-color: rgba($secondary, 0.35) !important;
    }

    &:after {
      border-top-color: $primary !important;
    }
  }

  &.modal {
    top: 20% !important;
    max-height: 75vh !important;
    overflow-y: auto !important;
    z-index: 1001 !important;
    position: fixed !important;
    border-radius: 0 !important;
    border: 2px rgba($secondary, 0.4) solid !important;

    > .header,
    > .content,
    > .actions {
      background: darken($secondary, 35) !important;
      color: $primary !important;
      font-weight: 400 !important;

      > span.type {
        color: $secondary !important;
      }
    }

    > .image.content {
      padding: 1rem 1.5rem;

      > .description {
        span {
          margin-right: 0.5rem;
        }

        p {
          margin-top: 1rem;
        }
      }
    }

    > .actions {
      margin: 0 !important;
      padding: 1rem !important;

      > .column {
        padding: 0 !important;
      }
    }
  }
}
