$body-bg-color:#001 !default;
$teal: $secondary;
$inverted-label: $primary;
$icons-font-path: '/assets/fonts/' !default;

$body-font-color: $secondary;
$font-color: $secondary;
$a-font-color: $primary;

$font-family: 'Titillium Web', 'EVE Sans', sans-serif;

a:hover {
  color: white !important;
}

.ui {
  background: transparent !important;

  &.cards {
    > .title {
      width: 100%;
      margin: 1.5rem 0.6rem 0.5rem;
    }

    > .card {
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
      margin-top: 0.25rem !important;
      background: transparent !important;
      box-shadow: none !important;
      overflow: hidden;

      &:hover {
        transform: none !important;
        text-rendering: optimizeLegibility;

        > .background {
          transform: scale3d(1.05, 1.05, 1.05) !important;
          opacity: 0.3;
        }
      }

      > .background {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        opacity: 0.15;
        background-size: cover !important;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        transition: opacity 175ms linear, transform 175ms linear;
      }

      > .content {
        padding-left: 0.5rem;

        > .header {
          color: $primary !important;
          font-weight: 400 !important;
          font-size: 1.85rem !important;
          display: flex !important;
          height: 3rem !important;
          justify-content: space-between;
          white-space: nowrap;

          > .image {
            max-width: 128px;
            margin: 0;

            > img.rounded {
              border-radius: 5rem;
            }
          }
        }

        > .meta {
          color: $secondary !important;
          margin-bottom: 1rem;

          > span {
            margin-right: .3em !important;

            .odometer.odometer-auto-theme,
            .odometer.odometer-theme-default {
              font-family: 'Titillium Web', sans-serif !important;

              .odometer-digit-spacer {
                margin-right: 0 !important;
              }
            }
          }
        }

        > .description {
          color: $secondary !important;
          margin-bottom: 1rem;
        }

        > .kills {
          margin-top: auto;
          overflow-y: auto;
          overflow-x: hidden;

          > div:nth-child(2) {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }

  &.grid {
    .row.no-gutter > .column {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  &.inverted.table {
    thead th {
      text-transform: uppercase !important;
      font-weight: 400 !important;
      color: $secondary !important;
    }

    tr td {
      border-color: $secondary !important;

      a:hover {
        color: white;
      }
    }
  }

  &.loader {
    &:before {
      border-color: rgba($secondary, 0.35) !important;
    }

    &:after {
      border-top-color: $primary !important;
    }
  }
}
