@import 'styles/odometer-theme-default.css';
@import 'index';

body {
  background: url(/assets/bg.jpg) center center no-repeat fixed #000;
  background-size: cover;
  color: $primary;
  font-family: 'Titillium Web', 'EVE Sans', sans-serif;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 0;
}

.Gloss {
  height: 96vh;
  padding: 2vh;
}

.Gloss-viewport {
  width: 85%;
  flex: 4.5;
  overflow: hidden;
}

.Gloss-module {
  display: flex;
  align-items: center;
  flex: 1;

  &--x {
    flex-direction: row;
    width: 100%;
  }

  &--y {
    flex-direction: column;
  }
}

.Gloss-hud {
  height: 96vh;
  width: 100%;
  align-items: center;

  > :first-child,
  > :last-child {
    max-width: 70%;
  }
}

.Gloss-logo {
  font-weight: 300;
  font-size: 3.75rem;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.7rem;
  margin: 0 0 7.5rem 0;
  height: 5.6875rem;
}
