$viewport-y: 90vh;

@import 'styles/odometer-theme-default.css';
@import 'index';
@import 'node_modules/sass-semantic-ui/src/semantic-ui';

body {
  background: url(/assets/bg.jpg) center center no-repeat fixed #000;
  background-size: auto 80%;
  color: $primary;
  font-family: $font-family;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 0;
}

p {
  color: $secondary;

  small {
    color: $secondary;
  }

  &.copy {
    white-space: pre-line;
  }
}

p,
span {
  &.primary {
    color: $primary !important;
  }

  &.secondary {
    color: $secondary !important;
  }
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    color: $secondary;
  }
}

.p0 { padding: 0 !important; }

.Gloss {
  width: 100%;
  margin: 0 auto;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Gloss-hud {
  height: 100%;
  width: 98vw;
  align-items: center;
}

.Gloss-sidebar {
  position: fixed;
  width: 300px;
  right: -300px;
  top: 7.25rem;
  bottom: 2vh;
  overflow: hidden;
  background: linear-gradient(90deg, transparent, black);
  opacity: 0;

  transition:
    opacity 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    right 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95)
  ;

  &--shown {
    right: 0;
    opacity: 1;
  }

  &--map {
    top: 1rem;
    right: unset;
    left: 0;
    background: linear-gradient(90deg, black, transparent);
  }
}

.Gloss-viewport {
  width: 100%;
  height: calc(100vh - 6rem);
  overflow: hidden;
  flex: 2;

  transition: width 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

  > .liquid-container {
    overflow-y: auto !important;
    height: 100%;

    > .liquid-child {
      height: calc(100% - 3rem);
      overflow-y: auto;

      > .ui.grid {
        height: 100%;

        > .row > .ui.link.cards {
          width: 100%;

          > .card {
            flex: 1;
            flex-basis: 32%;
            max-height: 520px;
            min-height: 300px !important;

            &:first-child:nth-last-child(1),
            &:first-child:nth-last-child(2),
            &:first-child:nth-last-child(2) ~ .card,
            &:first-child:nth-last-child(3),
            &:first-child:nth-last-child(3) ~ .card {
              max-height: 100% !important;
            }

            @media screen and (max-width: 1024px) {
              flex-basis: 48%;

              &:first-child:nth-last-child(3),
              &:first-child:nth-last-child(3) ~ .card {
                max-height: 85% !important;
              }
            }
          }
        }
      }
    }
  }

  &.Gloss-viewport--reduced {
    > .liquid-container > .liquid-child > .ui.grid > .row > .ui.link.cards > .card {
      @media screen and (max-width: 1024px) {
        flex-basis: 100%;

        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ .card {
          max-height: 85% !important;
        }
      }
    }
  }

  .Gloss-shard h2,
  .Gloss-shard h5,
  .Gloss-module p {
    padding: 0 1rem;

    @media screen and (max-width: 375px) {
      padding: 0;
    }
  }

  &--reduced {
    width: calc(98vw - 300px);
  }
}

.Gloss-module {
  display: flex;
  align-items: center;
  flex: 1;

  &--x {
    flex-direction: row;
    width: 100%;
  }

  &--y {
    flex-direction: column;
  }
}

.Gloss-navigation {
  background: linear-gradient(transparent, black, black);
}

.Gloss-analysis,
.Gloss-threats,
.Gloss-report {
  overflow-y: auto;
  overflow-x: hidden;
}

.Gloss-report,
.Gloss-threats {
  max-height: $viewport-y - 10vh;
  width: 74vw;
}

.Gloss-analysis {
  width: 75vw;
  max-height: $viewport-y;
  padding-top: 2vh;
}

.Gloss-threats {
  .Gloss-notification {
    flex: 1;
  }
}

.Gloss-report {
  padding: 0 2vh;
  white-space: nowrap;

  table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;

    th {
      color: $secondary;
      font-size: 0.83rem;
      font-family: 'EVE Sans', sans-serif !important;
      text-align: left;
      margin-right: 0.5rem;
      padding: 0.5rem 0;
    }

    td {
      font-size: 0.8rem;
      margin-right: 0.5rem;
      padding: 0.5rem 0;

      a {
        text-decoration: none;
        color: $primary;
      }
    }
  }

  &--composition {
    width: 100%;
  }

  &--ship {
    display: inline-flex;
    align-items: center;

    img {
      margin-right: 0.75rem;

      &.Gloss-report--image {
        border-radius: 5rem;
        margin-right: 1rem;
        margin-top: -.3rem;
        margin-bottom: -.3rem;
        width: 2rem;
      }
    }
  }
}

.Gloss-logo {
  font-weight: 300;
  font-size: 3.75rem;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.7rem;
  margin: 0;
  height: 5.6875rem;

  &--centered {
    text-align: center;
    margin-top: 4rem;
    height: 4rem;
  }

  &--subtext {
    font-size: 1.2rem;
    text-align: center;
    height: auto;
    letter-spacing: 0.4rem;
    color: darken($primary, 70);
  }

  &--container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.0);
    height: 5.6875rem;
  }
}

.Gloss-version {
  text-transform: lowercase;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  color: darken($primary, 60);
}

.Gloss-copyright {
  color: darken($secondary, 15);
  font-size: 0.85rem;
  line-height: 1.4rem;
}

.Gloss--highlight,
strong {
  color: $primary !important;
  font-weight: 400;
}

.width-100 {
  width: 100%;
}

.Gloss-fixed {
  position: fixed;
  width: 98vw;
  padding: 0 0 3vh;

  &--bottom {
    bottom: 0;
  }
}

.Gloss-input {
  &.ui.input input[type="text"] {
    font-size: 2rem;
    // text-transform: uppercase;
    letter-spacing: 5px;
    color: darken($secondary, 15);
    padding-left: 2rem !important;

    transition: color 175ms ease;

    &::placeholder {
      color: darken($secondary, 15);
    }

    &:focus {
      color: $primary;
    }
  }
}

.ember-application > .ember-view > .ember-view > .ember-view > .ember-view > .ui.modal.about,
.ember-application > .ember-view > .ember-view > .ember-view > .ember-view > .ui.modal.threat {
  max-height: 70vh !important;
  overflow-y: auto !important;
  z-index: 1001 !important;
  position: fixed !important;
  border-radius: 0 !important;
  border: 2px rgba($secondary, 0.4) solid !important;

  @media screen and (min-width: 1025px) and (min-height: 769px) {
    margin-top: -350px !important;
  }

  @media screen and (max-height: 768px) {
    max-height: 98vh !important;
    margin: 1vh 1vw !important;
    top: 0 !important;
    left: 0 !important;
    width: 98vw !important;
  }

  > .header,
  > .content,
  > .actions {
    background: darken($secondary, 35) !important;
    color: $primary !important;
    font-weight: 400 !important;
  }

  > .image.content {
    padding: 1rem 1.5rem;

    > .description {
      span {
        margin-right: 0.5rem;
      }

      p {
        margin-top: 1rem;
      }
    }
  }

  > .actions {
    margin: 0 !important;
    padding: 1rem !important;

    > .column {
      padding: 0 !important;
    }
  }
}

.ui.table {
  tbody > tr {
    cursor: pointer;

    td {
      transition: color 175ms linear;
    }

    &:hover {
      td {
        color: $secondary !important;
      }
    }
  }
}
