.Gloss-shard {
  flex: 1;
  text-align: center;

  * {
    font-family: 'EVE Sans', sans-serif !important;
  }

  h2 {
    margin: 0.3rem 0 0 0;
  }

  h5 {
    margin: 0;
    color: $secondary;
  }

  &--primary {
    flex: 2;
  }

  &--align-left {
    text-align: left;
  }

  &:not(.Gloss-shard--primary) {
    h2 {
      font-size: 1.125em;
    }

    h5 {
      font-size: 0.63em;
    }
  }
}
