.Gloss-notifier {
  width: 24rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch !important;
}

.Gloss-notification {
  cursor: pointer;
  background: linear-gradient(transparent, rgba($secondary, 0.1), rgba($secondary, 0.2));
  margin-bottom: 1rem;
  padding: 1rem;

  &--line {
    &:nth-child(2) {
      font-size: 0.75rem;
    }

    &:nth-child(3) {
      font-size: 0.75rem;
    }
  }

  &--time,
  &--subjectContext,
  &--messageContext {
    color: $secondary;
    font-weight: 800;
  }
}
