.Gloss-message {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: rgba(0,0,0,0.0);

  transition: background-color 500ms ease-in-out;

  &--shown {
    z-index: 50;
    background-color: rgba(0,0,0,0.9);
  }

  &--underlay {
    background-color: rgba(0,0,0,0.0);
  }

  h2, h3 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'EVE Sans', sans-serif;
    width: fit-content;
  }

  h3 {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid $secondary;
    color: $secondary;
    animation:
      typing 1.5s steps(40, end),
      blink-caret-secondary .75s step-end infinite;

    &.kill-animation {
      border-right: none;
      animation: none;
    }
  }

  > div,
  > div > div,
  > div > div > div {
    width: 100%;
    height: 100%;
  }
}
