.Gloss-notifier {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch !important;

  .Gloss-stream {
    position: relative;
    max-width: 300px;
    overflow-x: hidden !important;

    > .liquid-container {
      > :first-child {
        margin-top: 1rem;
      }

      > :last-child {
        margin-bottom: 2rem;
      }

      width: 320px;
      height: calc(100vh - 6.5625rem);
      overflow-y: auto !important;
    }
  }

  p {
    padding: 0 1rem;

    @media screen and (max-width: 375px) {
      padding: 0;
    }
  }
}

.Gloss-notification {
  margin-top: 0;
  cursor: pointer;
  padding: 0.75rem 0 0.75rem 0.75rem;
  color: $secondary;

  &--time {
    font-size: 0.7rem;
    display: block;
    line-height: 2;
    opacity: 0.7;
  }

  &--flex {
    display: flex;
    align-items: center;
  }

  &--image {
    border-radius: 5rem;
    margin-right: 1rem;
    width: 3rem;
  }

  &--line {
    * {
      white-space: nowrap;
    }

    &:nth-child(2) {
      font-size: 0.7rem;
    }

    &:nth-child(3) {
      font-size: 0.7rem;
    }
  }

  .icon {
    margin-left: 0.05rem;
    color: $secondary;
    opacity: 0;
    transition: 175ms opacity linear;
  }

  &:hover {
    background: linear-gradient(transparent, rgba($secondary, 0.1), rgba($secondary, 0.2));

    .icon {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 0.5rem;
  }
}
