.Gloss-shard {
  flex: 1;
  text-align: center;

  * {
    font-family: 'EVE Sans', sans-serif;
  }

  h2 {
    margin: 0.3rem 0 0 0;

    @media screen and (max-width: 375px) {
      font-size: 1.25em;
    }
  }

  h5 {
    margin: 0;
    color: $secondary;
  }

  &--primary {
    flex: 1.1;

    * {
      font-family: 'Titillium Web', sans-serif !important;
      letter-spacing: 0.7rem;
      font-weight: 300;
    }
  }

  &--align-left {
    text-align: left;
  }

  &--align-right {
    text-align: right;
  }

  &:not(.Gloss-shard--primary) {
    h2 {
      font-size: 1.125em;
    }

    h5 {
      font-size: 0.75em;
    }

    @media screen and (max-width: 375px) {
      h2 { font-size: 1em; }
      h5 { font-size: 0.5em; }
    }
  }
}
