.rise-circle-dashed {
  position: absolute;
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  top: 50%;
  left: 50%;
  margin-top: -12.5rem;
  margin-left: -12.5rem;
  border: 4px rgba(59, 145, 168, 0.3);
  border-style: dashed;
  -webkit-animation: spin-inverse 30s infinite linear;
  animation: spin-inverse 30s infinite linear;
}

.rise-circle-dashed.rise-circle-dashed-small {
  margin-top: -6.25rem;
  transform: scale(0.5);
}

.rise-circle-grooved {
  background: black;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  width: 23.5rem;
  height: 23.5rem;
  top: 50%;
  left: 50%;
  margin-top: -11.75rem;
  margin-left: -11.75rem;
  border: 10px rgba(98, 208, 240, 0.7);
  border-style: double;
  -webkit-animation: spin 40s infinite linear;
  animation: spin 40s infinite linear;
}

.rise-circle-grooved.rise-circle-grooved-small {
  transform: scale(0.5);  
  border-width: 5px;
  -webkit-animation: none;
  animation: none;
  border-color: rgba(98, 208, 240, .2);
}