.rise-location .rise-circle-dashed:focus,
.rise-location .rise-circle-dashed:active {
  background-color: rgba(0, 255, 255, 0.171);
}

.rise-dial-small > h1,
.rise-dial-small > h4 {
  transform: scale(0.5);
  margin: 0;
}

.rise-dial:after {
  content: '';
  position: absolute;
  top: 4rem;
  left: 0.1rem;
  right: 0.1rem;
  border-top: 1px rgba(0, 255, 255, 0.171) dashed;
  z-index: -2;
}