{{#unless kills.length}}

  <div class="ui active inverted text loader">Waiting for kill activity</div>

{{else}}

  <div class="ui link cards">
    <table class="ui table inverted mb2" cellpadding="10">
    <thead>
      <th>Time</th>
      <th>System</th>
      <th>Position</th>
      <th>Victim</th>
      <th>Ship</th>
      <th>Fleet</th>
    </thead>

    <tbody>
      {{#each killsRenderable as |kill|}}
        {{gloss-kill-line
          kill=kill
          selectFleet=(action 'selectFleet')
          }}
      {{/each}}

      {{#if (not-eq killsRenderable.length kills.length)}}
        <small>In the interest of performance, only the last 500 kills are shown.</small>
      {{/if}}
    </tbody>
    </table>
  </div>

{{/unless}}
