<div class="ui link cards">
  {{#each (sort-by 'lastSeen:desc' fleets) as |fleet|}}
    {{gloss-threat
      model=fleet
      system=system
      selectFleet=(action 'selectFleet')
      }}
  {{/each}}
</div>

{{#unless fleets.length}}
  <p class="mt1 ml2">No recent activity reported in this system.</p>
{{/unless}}
