<div class="ui link cards">
  {{#each (sort-by 'lastSeen:desc' fleets) as |fleet|}}
    {{gloss-threat-card
      fleet=fleet
      system=system
      context='system'
      selectFleet=(action 'selectFleet')
      }}
  {{/each}}

  {{#unless fleets.length}}
    <p class="mt2 ml1">No active fleets in this system.</p>
  {{/unless}}
</div>
