<div class="ui link cards">
  {{#each (sort-by 'lastSeen:desc' activeFleets) as |fleet index|}}
    {{#if (eq index 0)}}<p class="title">Active</p>{{/if}}

    {{gloss-threat
      model=fleet
      system=system
      selectFleet=(action 'selectFleet')
      }}
  {{/each}}

  {{#each (sort-by 'lastSeen:desc' inactiveFleets) as |fleet index|}}
    {{#if (eq index 0)}}<p class="title">Inactive</p>{{/if}}

    {{gloss-threat
      model=fleet
      system=system
      selectFleet=(action 'selectFleet')
      }}
  {{/each}}
</div>

{{#unless fleets.length}}
  <p class="mt1 ml2">You aren't tracking any fleet movement.</p>
{{/unless}}
