<div class="ui link cards">
  {{#each (sort-by 'lastSeen:desc' activeFleets) as |fleet index|}}
    {{#if (eq index 0)}}<p class="title">Active</p>{{/if}}

    {{gloss-threat
      model=fleet
      system=system
      selectFleet=(action 'selectFleet')
      }}
  {{/each}}

  {{#each (sort-by 'lastSeen:desc' inactiveFleets) as |fleet index|}}
    {{#if (eq index 0)}}<p class="title">Inactive</p>{{/if}}

    {{gloss-threat
      model=fleet
      system=system
      selectFleet=(action 'selectFleet')
      }}
  {{/each}}
</div>

{{#unless fleets.length}}
  <p class="copy mt1 ml2">You aren't tracking any fleet movement.

  To get started, select a fleet from one of the other panes and hit <span class="primary">Track Fleet</span>.

    <small>Fleets are tracked through New Eden as they amass kills, and expire after 30 minutes of inactivity.</small>
  </p>
{{/unless}}
