<div class="ui link centered cards">
  {{#each (sort-by 'lastSeen:desc' fleets) as |fleet|}}
    {{gloss-threat
      model=fleet
      selectThreat=(action 'selectThreat')
      }}
  {{/each}}
</div>

{{#unless fleets.length}}
  <p class="mt1 ml2">You aren't tracking any fleet movement.</p>
{{/unless}}
