/* Alignment */
.Gloss-flex--start {
  align-items: flex-start !important;
}

.Gloss-flex--middle {
  align-items: center !important;
}

.Gloss-flex--end {
  align-items: flex-end !important;
}

.Gloss-flex--stretch {
  align-items: stretch !important;
}

.Gloss-flex--self-start {
  align-self: flex-start !important;
}

.Gloss-flex--self-middle {
  align-self: center !important;
}

.Gloss-flex--self-end {
  align-self: flex-end !important;
}

/* Wrapping */
.Gloss-flex--wrap {
  flex-wrap: wrap;
}

/* Sizing */
.Gloss-flex--1 {
  flex: 1 !important;
}

.Gloss-flex--1_1 {
  flex: 1.1 !important;
}

.Gloss-flex--3 {
  flex: 3 !important;
}
