<div class="Gloss">
  {{liquid-outlet}}
</div>

<div class="Gloss-notifier">
  <div class="Gloss-module Gloss-module--y Gloss-flex--end">
    {{#each stream as |notification|}}
      {{#liquid-unless notification.isRead class="ui-fade-0"}}
        {{gloss-notification
        model=notification}}
      {{/liquid-unless}}
    {{/each}}
  </div>
</div>
