<div class="Gloss">
  {{liquid-outlet}}
</div>

{{gloss-message
  header=messageHeader
  subheader=messageSubheader
  isShowingMessage=isShowingMessage
  stopAnimating=stopAnimating
  shouldNotOverlay=shouldNotOverlay
  }}
