<div class="Gloss-module Gloss-module--x">
  <div class="Gloss-module Gloss-module--y Gloss-hud">
    <div class="Gloss-module">
      {{gloss-message
        header="Booting system..."
        }}
    </div>
  </div>
</div>
